---
import '../styles/global.css';

interface Props {
	title?: string;
	description?: string;
}

const {
	title = 'GlowHaus Beauty Salon | Holistic Health Coaching',
	description = 'Grounded wellness coaching for women ready to build calm, sustainable habits.'
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<link
			rel="preconnect"
			href="https://fonts.googleapis.com"
		/>
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin="anonymous"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;1,400&family=Manrope:wght@400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body>
		<slot />
		<script
			src="https://www.booqself.com/widget.js"
			data-widget-key="bk_glowhaus_beauty_salon_bf7b1b276c"
			data-trigger="#booqself-book"
			data-width="80vw"
		></script>
	</body>
</html>
